{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!--super 获取模板本来就存在的内容-->
{% block title %}
    {{ super() }}
    -2010
{% endblock %}

{% block page_content %}
    <!--jinja2的函数定义-->
    {% macro welcome(name,known) %}
        <h1>Hello,{% if name %} {{ name }} {% else %}Stranger{% endif %}</h1>
        {% if not known %}
        <p>Pleased to meet you!</p>
        {% else %}
        <p>Happy to see you again!</p>
        {% endif %}
    {% endmacro %}

    {% macro login() %}
        <h1>Hello
        {% if current_user.username %}
            {{ current_user.username }}
        {% else %}
            Stranger
        {% endif %}
        </h1>
    {% endmacro %}
    <!--{{ welcome(name,known) }}-->
    {{ login() }}
    <p>The local date and time is {{moment(current_time).format('LLL')}}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
    {{ wtf.quick_form(form) }}

{% endblock %}